@charset "utf-8";

/* Roboto font family */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto/roboto-v30-latin-regular.eot);
  src: url(fonts/Roboto/roboto-v30-latin-regular.eot?#iefix) format('embedded-opentype'),
       url(fonts/Roboto/roboto-v30-latin-regular.woff2) format('woff2'),
       url(fonts/Roboto/roboto-v30-latin-regular.woff) format('woff'),
       url(fonts/Roboto/roboto-v30-latin-regular.ttf) format('truetype'),
       url(fonts/Roboto/roboto-v30-latin-regular.svg#Roboto) format('svg');
}

/* Charter font family */
@font-face {
  font-display: swap;
  font-family: 'Charter';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Charter/charter_regular-webfont.eot);
  src: url(fonts/Charter/charter_regular-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/Charter/charter_regular-webfont.woff) format('woff'),
       url(fonts/Charter/charter_regular-webfont.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Charter';
  font-style: italic;
  font-weight: 400;
  src: url(fonts/Charter/charter_italic-webfont.eot);
  src: url(fonts/Charter/charter_italic-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/Charter/charter_italic-webfont.woff) format('woff'),
       url(fonts/Charter/charter_italic-webfont.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Charter';
  font-style: normal;
  font-weight: 700;
  src: url(fonts/Charter/charter_bold-webfont.eot);
  src: url(fonts/Charter/charter_bold-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/Charter/charter_bold-webfont.woff) format('woff'),
       url(fonts/Charter/charter_bold-webfont.ttf) format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Charter';
  font-style: italic;
  font-weight: 700;
  src: url(fonts/Charter/charter_bold_italic-webfont.eot);
  src: url(fonts/Charter/charter_bold_italic-webfont.eot?#iefix) format('embedded-opentype'),
       url(fonts/Charter/charter_bold_italic-webfont.woff) format('woff'),
       url(fonts/Charter/charter_bold_italic-webfont.ttf) format('truetype');
}
