<!doctype html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}} {{/* allow
website developer to enforce default dark mode */}} {{- if eq $defaultColor
"dark" -}}
<html lang="{{ .Site.LanguageCode }}" class="light">
    {{- else if eq $defaultColor "light" -}}
    <html lang="{{ .Site.LanguageCode }}" class="light">
        {{- else -}}
        <html lang="{{ .Site.LanguageCode }}">
            {{- end -}} {{- partial "head.html" . -}}

            

            <body data-theme="{{ $defaultColor }}" class="notransition">
                {{- partial "scriptsBodyStart.html" . -}} {{- partial
                "header.html" . -}}
                <div class="wrapper">
                    {{ partial "bio" . }}
                    <main aria-label="Content">
                        {{/* 
                            <h3
                                class="posts-item-note"
                                aria-label="Recent Posts on Life"
                            >
                                Recent Posts on Life
                            </h3>
                            {{ $lifePosts := where .Site.RegularPages "Section" "posts" }} 
                            {{ $lifePostsSorted := $lifePosts.ByDate.Reverse }} 
                            {{ range first 5 $lifePostsSorted }} 
                                {{ partial "postCard" . }} 
                            {{ end }}
                            {{ if gt (len $lifePosts) 5 }}
                            <p>
                                <a href="/posts/">See all life posts</a>
                            </p>
                            {{ end }}

                            <br />  
                        */}}
                        

                        <h3
                            class="posts-item-note"
                            aria-label="Recent Posts on Tech"
                        >
                            Recent Posts on Tech
                        </h3>
                        {{/* Show last 5 techlogs in reverse date order */}} {{
                        $techPosts := where .Site.RegularPages "Section"
                        "techlog" }} {{ $techPostsSorted :=
                        $techPosts.ByDate.Reverse }} {{ range first 5
                        $techPostsSorted }} {{ partial "postCard" . }} {{ end }}
                        {{ if gt (len $techPosts) 5 }}
                        <p>
                            <a href="/techlog/">See all tech posts</a>
                        </p>
                        
                        {{ end }}
                      {{/*  {{ partial "share-buttons.html" . }}            */}}

                    </main>
                </div>
                {{- partial "footer.html" . -}} {{- partial
                "scriptsBodyEnd.html" . -}}
            </body>
        </html>
    </html>
</html>
